@import "~@blueprintjs/core/lib/scss/variables";


/* TODO not clear how to set this height properly */
.video-content{
    background-color:$dark-gray2;
    padding:0;
    margin-bottom: $pt-grid-size;
    border:1px solid $dark-gray1;
    min-height: 50%;
}

.player-video-source-content {
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;    
    justify-content:space-evenly;
    cursor: grab;
    
}

.player-video-source-content p{
    font-size: $pt-font-size-large;
    color:$dark-gray5;
}

.player-video-source-icon{
    top:50%;
}

.player-video-source-content.hidden{
    display:none;
}

.player-video-source-content.none p{
    color: $pt-intent-primary;    
}

.player-video-source-content.primary{
    border: 1px solid $pt-intent-primary;
}

.player-video-source-content.primary p{
    color: $pt-intent-primary;
}

.player-video-source-content.success{
    border: 1px solid $pt-intent-success;
}

.player-video-source-content.success p{
    color: $pt-intent-success;
}

.player-video-source-content.warning{
    border: 1px solid $pt-intent-warning;
}

.player-video-source-content.warning p{
    color: $pt-intent-warning;
}

.video-bar{
    background-color: $dark-gray1;
    padding-left: $pt-grid-size;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-bar text{
    flex:1;
    
}

.video-bar.center{
    flex:1;
    justify-content: center;    
}

.video-bar-review-buttons{
    flex:1;
    justify-content:flex-end;
}

.video-container{
    flex:1;
    padding: 2*$pt-grid-size;
}

.video-content{
    display:flex;
    flex-direction: column;
    height: 75%;
}

.video-window-container{
    height:100%;
    width:100%;
    position:relative;
}

.video-window{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.video-element{
    height: fit-content;
    max-height:100%;
    max-width: 100%;
}

.player-helpers{
    display: flex;
    justify-content: space-between;
}

.keyframes{
    display: flex;
    align-items: center;
    flex:1;
}

.annotation-overlay{
    z-index:10;
}

