@import "~@blueprintjs/core/lib/scss/variables";

.overlay{
    display: flex;
    justify-content: flex-start;
    width:400px ;
    position: absolute;
    top: 20vh;
    left:50vw;
    transform: translate(-50%);
}

.overlay-buttons{
    display: flex;
    justify-content: space-between;
}

.overlay-buttons-right{
    display:flex;
    justify-content:flex-end;
}

.overlay-input{
    margin-bottom: $pt-grid-size;
}

.overlay-content{  
    flex: 1;
    margin-left: $pt-grid-size;
}

.overlay-buttons-space{
    margin-right: $pt-grid-size;
}