@import "~@blueprintjs/core/lib/scss/variables";

// FIXME hardcoded width


.right-panel{
    background-color:$dark-gray5;
    border-radius:$pt-border-radius;
    padding: $pt-grid-size;
}

.id-panel{
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colour-palette{
    width: fit-content;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
}

.sidebar-header{
    height:fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sidebar-header h4{
    margin:$pt-grid-size 0;
}

.sidebar-buttons{
    height:10px;
}

// FIXME check absolute sizing here
.sidebar-id-input{
    width:200px
}

.sidebar-menu-entry{
    display:flex;
    align-items:center ;
    padding:0;
    padding-left:5px;
}

.label-tag{
    margin: 0 $pt-grid-size/2;
}

.label-tag-editable{
    width:60px;
}