@import "~@blueprintjs/core/lib/scss/variables";

/* Frame Selector Component */
/* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.frame-selector{
  width: fit-content;
  margin-left: 0.5em;
  height:$pt-input-height;
  display: flex;
  align-items:center;
}

/* TODO can the width be driven by actual frame count? */
.frame-input{
  max-width:9ch;
}

.frame-count{
  flex-basis: fit-content;
  font-size:$pt-font-size-small;
  margin-left:0.3ch;
}

.frame-input .bp3-input{
  text-align: right;
}

