@import "~@blueprintjs/core/lib/scss/variables";

.video-slider{
    margin-left: $pt-grid-size;
    display: flex;
    align-items: center;
    flex:3;
}

.slider{
    flex:1;
}

.time-display{
    margin-left: $pt-grid-size;
}