@import "~@blueprintjs/core/lib/scss/variables";

/* TODO not clear how to set this height properly */
.video-content{
    background-color:$dark-gray2;
    padding:0;
    margin: 1em;
    border:1px solid $dark-gray1;
}

.video-bar{
    background-color: $dark-gray1;
    padding-left: $pt-grid-size;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-bar p{
    margin: 0;
}


.video-container{
    padding: 1em;
}

.video-window-container{
    width:100%;
    position:relative;
}

.video-window{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.annotation-overlay{
    z-index:10;
}

