/* TODO not clear how to set this height properly */
.video-window-container{
    position:relative;
    margin:1em;
}

.video-window{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.annotation-canvas{
    z-index:10;
}

