@import "~@blueprintjs/core/lib/scss/variables";

.right-sidebar{
    padding: $pt-grid-size*2;
}

.right-panel{
    background-color:$dark-gray5;
    border-radius:$pt-border-radius;
    padding: $pt-grid-size;
}

.id-panel{
    display: flex;
    align-items: center;
}

.colour-palette{
    width: fit-content;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
