@import "~@blueprintjs/core/lib/scss/variables";

.helpers{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.helper-tab{
    flex:1;
    margin-top: $pt-grid-size;
}

.helper-panel{
    height:100%;
    padding:$pt-grid-size;
    display:grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "tl tr"
                         "bl br";
}

.helper-panel-top-left{
    grid-area: tl;
}

.helper-panel-bottom-left{
    grid-area: bl;
    margin-top: auto;
    margin-bottom: auto;
}

.helper-panel-top-right{
    grid-area: tr;
}

.helper-panel-bottom-right{
    grid-area: br;
    margin-top: auto;
    margin-bottom: auto;
}

.helper-panel-next-prev{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.helper-panel-frame-count{
    margin-left:auto;
    margin-right: 0;
    padding: $pt-grid-size;
    width: fit-content;
}

.helper-panel-frame-info{
    padding: $pt-grid-size;
    margin-left: $pt-grid-size;
    width: fit-content
}

.helper-keyframe-bar{
    display:flex;
    align-items: center;
}

.helper-keyframe-button{
    width: fit-content;
    padding: $pt-grid-size;
}

.helper-keyframe-progress{
    margin:$pt-grid-size;
}

